/* GLOBAL */

LoadingIndicator {
    color: green;
}

/* MAIN APP STYLES */
#header {
    height: 8;

    #header-logo {
        border: solid green;
    }
}

#search-container {
    height: 5;
    border: solid green;
    border-title-align: center;

}

#search-input {
    width: 100%;
}

#ongoing-container {
    border: solid green;
    border-title-align: center;
}

#ongoings-items {
    width: 100%;
    margin: 0 1 0 1;
    border: solid green;
}

/* SEARCH SCREEN */
#search-results-container {
    border: solid green;
    border-title-align: center;
}

#search-items {
    width: 100%;
    margin: 0 1 0 1;
    border: solid green;
}

/* ANIME SCREEN */
#anime-result-container {
    border: solid green;
    border-title-align: center;
    border-title-style: bold underline;
}

#anime-descr {
    height: 15%;
}

#episodes-selector {
    height: 50%;

    #episodes-picker-input {
        width: 30%;
    }

    #episodes-items{
        height: 40%;
    }

    #episodes-selector-container {
        height: 3;
    }

    #episodes-selected-textbox {
        height: 50%;
        margin: 1 0 1 0;
        border: solid green;
        border-title-style: bold underline;
    }
}


/* SOURCES SCREEN */
#sources-result-container {
    border: solid green;
    border-title-align: center;
    border-title-style: bold underline;
    height: 30%;
}

/* VIDEOS SCREEN*/
#sources-videos-container {
    border: solid green;
    border-title-align: center;
    border-title-style: bold underline;
    height: 30%;
}
