{% for video in videos %}
    <li class="dropdown-item"
        hx-get="/spawn_player"
        hx-vals='{"quality": "{{ video.quality }}", "type": "{{ video.type }}", "url": "{{ video.url }}"}'
        hx-target="#video-container"
    > {{ video.quality }} {{ fn_urlspit(video.url).netloc }}...{{ video.type }}
    </li>
{% endfor %}
