{% extends 'base.j2' %}

{% block content %}

    <h3>{{ anime.title }}</h3>
    <div class="row">
        <div class="col"><img src="{{ anime.thumbnail }}" alt=""></div>
        <div class="col"><h4>Description</h4><br>{{ anime.description }}</div>
    </div>

    <div class="row">
        <div class="col-4 mx-auto">
            <div id="video-container">PLAYER</div>
        </div>
        <div class="col-4 mx-auto">
            <div id="videos">VIDEOS</div>
        </div>
        <div class="col-4 mx-auto">
            <div id="sources">SOURCES</div>
        </div>
    </div>

    <h4>Episodes</h4>
    <ul class="list-group">
        {% for episode in episodes %}
            <li class="list-group-item btn primary"
                hx-get="/get_sources"
                hx-vals='{"num": "{{ episode.num }}", "title": "{{ episode.title }}"}'
                hx-trigger="click"
                hx-target="#sources">
                {{ episode.num }} {{ episode.title }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}