{% for source in sources %}
    <li class="dropdown-item"
        hx-get="/get_videos"
        hx-vals='{"url": "{{ source.url }}", "title": "{{ source.title }}"}'
        hx-target="#dropdown-videos"
    > {{ source.title }} {{ fn_urlspit(source.url).netloc }}
    </li>
{% endfor %}
