<ul class="list-group">
    {% for source in sources %}
        <li class="list-group-item btn primary"
            hx-get="/get_videos"
            hx-vals='{"url": "{{ source.url }}", "title": "{{ source.title }}"}'
            hx-target="#videos"
        > {{ source.title }} {{ source.url.lstrip('https://').split('.')[0] }}
        </li>
    {% endfor %}
</ul>